:root {
    --primary-color: #c300ff;
    --glow-color: rgba(255, 0, 0, 0.5);
    --bg-color: #000000;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Minecraftia', sans-serif;

    perspective: 1200px;
    cursor: pointer;
}

#heart-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    pointer-events: none;
}

.text-unit {
    position: absolute;
    color: var(--primary-color);

    font-weight: normal;
    font-size: clamp(0.6rem, 1.8vw, 1rem);
    letter-spacing: 1px;

    white-space: nowrap;

    text-shadow: 
        0 0 6px var(--primary-color),
        0 0 12px var(--glow-color);

    user-select: none;
    will-change: transform, opacity;
    top: 0;
    left: 0;

    image-rendering: pixelated;
}

.explosion-heart {
    position: absolute;
    color: var(--primary-color);
    font-size: clamp(0.7rem, 2vw, 1.2rem);

    user-select: none;
    pointer-events: none;
    will-change: transform, opacity;
    transform: translate(-50%, -50%);

    font-family: 'Minecraftia', sans-serif;
    letter-spacing: 1px;

    text-shadow: 
        0 0 6px var(--primary-color),
        0 0 12px var(--glow-color);

    image-rendering: pixelated;
}